<%= form_with(model: spending, local: true) do |form| %>
  <% if spending.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(spending.errors.count, "error") %> prohibited this spending from being saved:</h2>

      <ul>
      <% spending.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :month %>
    <%= form.number_field :month %>
  </div>

  <div class="field">
    <%= form.label :payment %>
    <%= form.number_field :payment %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
