<p id="notice"><%= notice %></p>

<p>
  <strong>Month:</strong>
  <%= @spending.month %>
</p>

<p>
  <strong>Payment:</strong>
  <%= @spending.payment %>
</p>

<%= link_to 'Edit', edit_spending_path(@spending) %> |
<%= link_to 'Back', spendings_path %>
