<p id="notice"><%= notice %></p>

<h1>Yogurts</h1>
<%= pie_chart Yogurt.group(:group).count %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Group</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @yogurts.each do |yogurt| %>
      <tr>
        <td><%= yogurt.name %></td>
        <td><%= yogurt.group %></td>
        <td><%= link_to 'Show', yogurt %></td>
        <td><%= link_to 'Edit', edit_yogurt_path(yogurt) %></td>
        <td><%= link_to 'Destroy', yogurt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Yogurt', new_yogurt_path %>
